body {
	background: #ccc;
}
svg {
	background: #fff;
}
#test {
	width: 100px;
	height: 20px;
}

#debug {
	height: 400px;
	overflow: auto;
}

#debug span {
	opacity: 0.1;
	display: inline-block; 
	width: 1em;
	height: 1em;
	
}

#debug:hover span {
	opacity: 1;
	transition: all .2s;
};

#svgembed {
	height: 500px;
	width: 500px;
}

#holder { border: 10px dashed rgba(0,0,0,0.3); width: 300px; height: 300px; margin: 20px auto; border-radius: 20px}
#holder.hover { border: 10px dashed rgba(0,0,0,0.5); }
