body {
	background: #ccc;
}
svg {
	background: #fff;
}
#test {
	width: 100px;
	height: 20px;
}

#debug {
	height: 200px;
}

span {
	opacity: 0.1;
	display: inline-block; 
	width: 1em;
	height: 1em;
	
}

pre:hover span {
	opacity: 1;
	transition: all .2s;
};